#logo{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#logo-text {
    font-size: 40px;
    margin: 0 20px;  
    font-family: Verdana;
    color: #E6F5FF;

}

#logo-box{
    width: 15%;
}

#banner{
    background-color: #80CCFF;
    width: 100%;
    height: 75px;
    position: fixed;
    border-radius : 10px;
    z-index: 10;
}

#profile{
    width:8%;
    
}

#profile-pic{
    width: 40%;
    height: 35%;
    margin: 0 70px;
    margin-top: 5px;
}

#search{
    width:20%;
}

#searchbar{
    width: 100%;
    height: 60%;
    font-size: 20px;
    border-radius : 10px;
}

#filler{
    width: 55%;
}

#search-icon{
    width: 45%;
    height: 30%;    
}

#seach-icon-td{
    width:5%;
}

#side-bar-table{
    height:50%;
    width: 100%;
}

#side-bar-div{
    height:100%;
    width: 12%;
    float:left; 
    background-color: rgb(179,224,255);
    position: fixed;
    border-radius : 10px;
}

#side-bar-table td{
    height: 100px;
    width: 100%;
    text-align:center;
    border-radius : 10px;    
}

.hover:hover{
    background-color: #80CCFF;  
}

#side-bar-music{
    font-size: 220%;
    font-weight: bold;
}

#side-bar-music>a{
    color:black;  
}

.selected{
    background-color:black; 
}

#content{
    float:right;
    width:88%;
    height:100%;
}

#content-music{
    float:right;
    width:68%;
    height:100%;
}

#music-list{
    border-collapse:collapse;
}

#music-list tr:nth-child(odd) {
    background-color: #CCEBFF;
}

#music-list td>a{
    color:black;
}

#music-list td{
    height:50px;
    font-size:18px;
}

.music-buttons{
    font-size: 20px;
    border-radius : 10px;
    font-weight: bold;
    text-align: center;
}

.music-buttons-selected{
    font-size: 20px;
    color: white;
}

.tdcover{
    height: 100px;
    width: 17.6%;
    text-align:center;
}

.cover{
    height: 200%;
    width: 80%;
    box-shadow: 10px 10px 5px #888888;
    border-radius : 10px;
}

.title{
    height:35px;
    text-align:center;
    font-size: 20px;
}

/* Animation code from http://stackoverflow.com/questions/6805482/css3-transition-animation-on-load
-moz and -webkit varieties are for cross-browser support */
#playlist-sidebar{
    float:right;
    width:20%;
    height:100%;
    background-color: rgb(179,224,255);
	
	-moz-animation-name: slidePlaylist;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.75s;

    -webkit-animation-name: slidePlaylist;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.75s;

    animation-name: slidePlaylist;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.75s;
}

@-moz-keyframes slidePlaylist {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(0);
    }
}

@-webkit-keyframes slidePlaylist {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes slidePlaylist {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
    
#sidebar-playlist{
    border-collapse:collapse;
}

#sidebar-playlist td{
    font-size:15px;
    height:35px;
    font-weight: 900;
    border-bottom: 1px solid #000;
}

#playMovie{
	background-color: #000000;
}

.hoverslide{
	position: fixed;
	overflow: hidden;
	height: 50px;
	width: 75%;
	left: 12.5%;
	right: 12.5%;
	bottom: 0px;
}

#controlbar{
	background-color: #1A9FFF;
	width: 75%;
	height: 50px;
	position: fixed;
	z-index: 0;
	bottom: -60px;
    left: 12.5%;
    right: 12.5%;
	font-size: 40px;
	color: #E6F5FF;
	padding: 5px;
	border-radius:10px;
	transition: 0.75s;
    display: flex;
}

.hoverslide:hover #controlbar{
	transition: 0.75s;
	bottom: 0px;
}

#controlbar div{
	float:left;
	margin-left: auto;
	margin-right: auto;
}

#movie img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

/* fade code from http://bavotasan.com/2011/a-simple-fade-with-css3/ */
#pm-backbutton{
	font-size: 50px;
	color: #E6F5FF;
	margin-top: 5px;
	margin-left: 15px;
	
	opacity: 0.2;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

#pm-backbutton:hover{
	opacity: 1;
}

#pm-backbutton a{
	color: #E6F5FF;
	text-decoration: none;
}	

#newplaylist{
	text-align:left;
	margin-left: 10px;
	padding-left: 10px;
}

#tab{
    width: 15%;
    position: fixed;
    margin-left: 42.5%;
    margin-right: 42.5%;
	bottom: 0;
    background-color: #1A9FFF;
    z-index: -10;
    text-align: center;
    color: #E6F5FF;
    font-size: 150%;
}

a{
	text-decoration: none;
	color: #000000;
}

p{
	
	font-size: 18px;
}

BODY
{
    margin: 0;
    padding: 0;
    background-color: #E6F5FF;
    font-family: "MS Sans Serif";
}